@model DM_helper.Models.Session

@{
ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <div class="container-fluid">
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    @Html.DisplayNameFor(model => model.Notes)
                </div>
                <div class="d-flex flex-row">
                    @Html.DisplayFor(model => model.Notes)
                </div>
                <div class="d-flex flex-row">
                    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="d-flex flex-column">
                
            </div>
        </div>
    </div>
</div>